@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Drinks</h1>

<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Drink List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary text-white" href="Drink/Edit"><i class="fas fa-plus"></i> &nbsp; Create New Drink</a>
        </div>
    </div>
    <br />
    <br />
    <div style="background-color:#cde8e2" class="p-3 rounded">
        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="table-danger">
                    <th>Name</th>
                    <th>Alcol</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/DrinkIndex.js"></script>
}